.slide {
  background-color: transparent !important;
}

.sponsor {
  text-align: center;
}

.logo-tekis {
  height: 100px;
  padding: 20px;
}

.logo-reaktor {
  height: 50px;
}

.lofihiphop {
  margin-top: 1rem;
}

h2 {
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 1.5em;
}

h3 {
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.2em;
  font-style: italic;
}