@import 'tailwindcss';

@theme {
	/* Colors */
	--color-blue-hsl: #007ac9;
	--color-green-unari: #155c2c;
	--color-green-hsl_realtime: #46850e;
	--color-yellow-tkoaly: #fff500;
	--color-org-tkoaly: #fff500;
	--color-org-matlu-primary: #fca412;
	--color-org-matlu-secondary: #09773a;

	/* Font families */
	--font-inter: var(--font-inter);
	--font-sans: var(--font-inter);
	--font-m_plus_rounded: var(--font-m-plus-rounded);
	--font-gabarito: var(--font-gabarito);

	/* Spacing */
	--spacing-5\/14: 35.714286%;
	--spacing-9\/14: 64.285714%;

	/* Animation */
	--animate-spin-slow: spin 10s linear infinite;
}

:root {
	--foreground-rgb: 245, 245, 245;
	--background-rgb: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@layer utilities {
	.scrollbar-none::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-none {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
