@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 245, 245, 245;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}
