<!DOCTYPE html>
    <head>
        <title>Infoskriini</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h1 class="title">
                                Upcoming events
                        </h1>
                        <ul class="content">
                            {{#events}}
                            <li>{{starts}}: {{name}}</li>
                            {{/events}}
                        </ul>
                    </div>
                    <div class="column">
                            <iframe style="width:100%;height:100%;" src="https://www.youtube.com/embed/L_LUpnjgPso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <footer class="footer">
                    <div class="columns is-vcentered">
                        <div class="column is-6 has-text-centered">
                            <img src="tkoalylogo.png" style="height:200px;" />
                        </div>
                        <div class="column is-6 has-text-centered">
                            <img src="reaktorlogo.png" style="height:60px;" />
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </body>
</html>